@model CustomizedTrips.Models.TravelAgents.AgentLoggedIn

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>AgentLoggedIn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="DateLogged" class="control-label"></label>
                <input asp-for="DateLogged" class="form-control" />
                <span asp-validation-for="DateLogged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoggedInName" class="control-label"></label>
                <input asp-for="LoggedInName" class="form-control" />
                <span asp-validation-for="LoggedInName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoggedInPhone" class="control-label"></label>
                <input asp-for="LoggedInPhone" class="form-control" />
                <span asp-validation-for="LoggedInPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoggedInEmail" class="control-label"></label>
                <input asp-for="LoggedInEmail" class="form-control" />
                <span asp-validation-for="LoggedInEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

