<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomizedTrips</title>    

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <style type="text/css">        
        h1 {
            color: red;
            font-size: 30px;
        }

        .header_top {
            width: 100%;
            border-bottom: 1px solid ivory;
            height: 7vw;
            padding: 0px;
            margin: 0px;
        } 

        .header {
            width: 100%;
        }

        .title {
            font-family: 'Playball', cursive;
            font-size: 50px;
            color: red;
            text-align: center;
        }     

        span {
            border: 1px solid ivory;
            border-radius: 15px;
            background-color: ivory;
            padding: 7px;
        } 

        a:hover {
            text-decoration: none;
        }
    </style>

</head>

<body style="background-color: #ffefba; background-size: cover; height: 100%;">
    <!--class="NewOrleans"-->
    <div class="container Banff header" style="border-bottom: 1px solid ivory;">
        <div class="row header_top">
            <div><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><strong class="title" style="text-align: center; color: gold">TRAVEL-BID</strong></a><br /></div>
            <div><h1><i>America's Premiere Travel Matchmaking Service!</i></h1></div>
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" style="text-align: center">
            <ul class="nav navbar-nav" style-"text-align: center">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><span>HOME</span></a></li>

                <li><a asp-area="" asp-controller="Home" asp-action="About"><span>ABOUT</span></a></li>

                <li><a asp-area="" asp-controller="Home" asp-action="Contact"><span>CONTACT</span></a></li>

                <!--<li><a asp-area="" asp-controller="VacationIdeas" asp-action="Index"><span>Need Some Vacation ideas?</span></a></li>-->

                <li><a asp-area="" asp-controller="VacationForm" asp-action="create"><span style="background-color: lawngreen">New Traveler? Register Here.</span></a></li>

                <li><a asp-area="" asp-controller="TravlerLoginPortal" asp-action="Login"><span style="background-color: lawngreen">Traveler Login</span></a></li>

                <li><a asp-area="" asp-controller="AgentLoginPortal" asp-action="Login"><span style="background-color: antiquewhite">Travel Agent Login</span></a></li>

                <li><a asp-area="" asp-controller="TravelAgentCRUD" asp-action="Create" ><span style="background-color: antiquewhite">New Agent? Register</span></a></li>

            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>

    <div style="width: 100%;">
        <!--class="container NewOrleans" -->

        
        @RenderBody()

        <!--
        <footer>
            <p>&copy; 2018 - CustomizedTrips</p>
        </footer>
            -->
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Playball" rel="stylesheet">

    @RenderSection("Scripts", required: false)
</body>
</html>
