@{
    //Layout = "_Layout";
}

<head>
    <style type="text/css">
        body {
            background-image: url("../wwwroot/images/CostaRicaRainForest.jpg");            
        }
    </style>
</head>

<body>




   
</body>
