
.Banff {
    background-image: url("../images/Banff.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Iceland {
    background-image: url("../images/Iceland.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

.Outdoor {
    background-image: url("../images/OutdoorScene.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Vegas {
    background-image: url("../images/Bellagio.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
