@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout2";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">

    <style type="text/css">
        .tangerine {
            text-align: center;
            font-family: 'Great Vibes', cursive;
            font-size: 100px;
            color: orangered;
        }

        a:hover, a:visited, a:link {
            text-decoration: none;
        }

        body {
            padding: 0px;
            background-image: url("../../wwwroot/images/changmaimountains.jpg");
            background-size: cover;
            background-position: 100%;
        }

        .NewOrleans {
            background-image: url("../../wwwroot/images/NewOrleans.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .ChangMai {
            background-image: url("../../wwwroot/images/changmaimountains.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        #carouselExampleFade {
            border: 3px solid gray;
        }

        .places {
            font-family: 'Great Vibes', cursive;
            font-size: 50px;
        }

    </style>   

</head>

<body>
    <div style="height:1vw">

    </div>
    <!--Carousel Start-->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" style="width: 100%">
        <div class="carousel-inner" style="width: 100%">
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="text-align: center" class="places">Banff, Alberta, Canada</h3>
                </div>
                <img class="d-block w-100" src="~/images/Banff.jpg" alt="Banff" style="width: 100%; height: 450px">
                <div class="carousel-caption d-none d-md-block" style="margin-bottom: 15%">
                    <h5>How would you like to escape to amazing, outdoor destinations such as this...</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="text-align: center" class="places">Costa Rica</h3>
                </div>
                <img class="d-block w-100" src="~/images/CostaRicaRainForest.jpg" alt="Costa Rica" style="width: 100%; height: 450px">
                <div class="carousel-caption d-none d-md-block" style="margin-bottom: 15%">
                    <h5>Or this...</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="text-align: center" class="places">Hong Kong</h3>
                    <h5 style="text-align: center">Voted one of the safest places to visit!</h5>
                </div>
                <img class="d-block w-100" src="~/images/HongKong.jpg" alt="Hong Kong" style="width: 100%; height: 450px">
                <div class="carousel-caption d-none d-md-block" style="margin-bottom: 15%">
                    <h3 style="text-align: center">Or shop and dine at some of the most beautiful cities in the world...</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="text-align: center" class="places">ChangMai Mountains</h3>
                </div>
                <img class="d-block w-100" src="~/images/changmaimountains.jpg" alt="ChangMai" style="width: 100%; height: 450px">
                <div class="carousel-caption d-none d-md-block" style="margin-bottom: 15%">
                    <h3 style="text-align: center">Now imagine Travel Agents COMPETING to make your Dream Destination come true! Want to find out more?</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="text-align: center; color: firebrick" class="places">Bellagio Hotel in the vibrant Las Vegas strip!</h3>
                </div>
                <img class="d-block w-100" src="~/images/Bellagio.jpg" alt="Hong Kong" style="width: 100%; height: 450px">
                <div class="carousel-caption d-none d-md-block" style="margin-bottom: 15%">
                    <h3 style="text-align: center">Enter our site by clicking below!</h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--Carousel End-->

    <div style="height: 5vw">

    </div>

    <a asp-controller="VacationForm" asp-action="Create"><h1 class="tangerine"><strong>Enter</strong></h1></a>

    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
</body>