

@model CustomizedTrips.Models.Traveler.VacationRequest

@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    html {
        height: 100%
    }

    body {
        background-size: cover;
    }

    .vacationform {        
        background-color: antiquewhite;
    }

    img {
        border: 3px solid #ffefba;
    }

    #mainheader {
        font-size: 3vw;
        text-align: center;
        color: red; 
    } 

    .imp {
        color: red;
    } 

    a {
        font-size: 30px; 
        text-decoration: none;
        text-align: center;
        color: red;
    }

    a:hover {
        text-decoration: none;
    }

</style>

<body style="padding-top: 0px">   
    
<!--PICTURES START-->
<div class="container" style="margin-top: 1vw">

    <h1 id="mainheader">"What's better than vacationing in amazing destinations such as these?"</h1>

    <div class="row">
        <div class="col-lg-4">
            <img src="~/images/Italy.jpg" style="height: 200px; width: 400px" />
        </div>
        <div class="col-lg-4">
            <img src="~/images/RenoArch.jpg" style="height: 200px; width: 400px" />
        </div>
        <div class="col-lg-4">
            <img src="~/images/CostaRicaRainForest.jpg" style="height: 200px; width: 400px" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img src="~/images/Iceland.jpg" style="height: 200px; width: 400px" />
        </div>
        <div class="col-lg-4">
            <img src="~/images/Vegas.jpg" style="height: 200px; width: 400px" />
        </div>
        <div class="col-lg-4">
            <img src="~/images/NewOrleans.jpg" style="height: 200px; width: 400px" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img src="~/images/Banff.jpg" style="height: 200px; width: 400px" />
        </div>
        <div class="col-lg-4">
            <img src="~/images/SouthBeach.jpg" style="height: 200px; width: 400px" />
        </div>
        <div class="col-lg-4">
            <img src="~/images/NYC.jpg" style="height: 200px; width: 400px" />
        </div>
    </div>
    <!--PICTURES END-->
        
        <h2>Having world class travel agents competing to give you the best price!</h2>
        <ul>
            <li><h2>YOU tell us <i>where</i> you want to go!</h2></li>
            <li><h2>YOU tell us <i>when</i> you want to go!</h2></li>
            <li><h2>YOU tell us <i>everything</i> you want to do there!</h2></li>
        </ul>
        <br />
        <h2>AND MOST IMPORTANTLY...</h2>
        <br />
        <h1>YOU TELL US WHAT YOU WANT TO PAY!</h1>
        <br />
        <h2>While I could go on and on about why we are <span style="background-color: hotpink">America's Premier Travel Matchmaking Service</span>, I think it's probably best you see for yourself by giving us a try!</h2>

        <br />

        <h1 style="text-align: center"><a asp-controller="VacationForm" asp-action="Create" style="text-align: center">Click here to get started on your dream vacation!</a></h1>
        <div style="height: 7vw"></div>
    </div>
</body>


