
@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 7px; background-color: ghostwhite">

    <h1>THANK YOU FOR REGISTERING.</h1>
    <h1>Please log in to your page by <a asp-controller="AgentLoginPortal" asp-action="Login">CLICKING HERE</a></h1>

</div>


