

@model CustomizedTrips.Models.Traveler.VacationRequest


@{
    ViewData["Title"] = "MemberCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Vacation Request</h2>

<style type="text/css">
    html {
        height: 100%
    }

    body {
        background-size: cover;
    }

    .vacationform {
        border: 3px solid red;
        border-radius: 30px;
        background-color: antiquewhite;
        padding-top: 3px;
    }
</style>

<body style="padding-top: 0px">

    <div class="container" style="margin-top: 1vw;">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 vacationform">
                <h3>Fill out the form to get started right on your Dream Destination!</h3>

                <!--FORM START-->
                <form asp-controller="VacationForm" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" required placeholder="@Model.FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" required placeholder="@Model.LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="password" class="control-label"></label>
                        <input asp-for="password" class="form-control" required name="pswrd" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Destination" class="control-label"></label>
                        <input asp-for="Destination" class="form-control" required />
                        <span asp-validation-for="Destination" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Budget" class="control-label"></label>
                        <input asp-for="Budget" class="form-control" />
                        <span asp-validation-for="Budget" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DestinationDetails" class="control-label"></label>
                        <span asp-validation-for="DestinationDetails" class="text-danger"></span>
                        <textarea asp-for="DestinationDetails" class="form-control">

                </textarea>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="@Model.PhoneNumber" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="email" class="control-label"></label>
                        <input asp-for="email" class="form-control" placeholder="@Model.email" required />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </form>
                <!--FORM END-->


            </div>
            <div class="col-sm-3"></div>
        </div>
        </div>
    </body>

