
@{
    ViewData["Title"] = "MemberThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: red">Thank your for registering!</h1>

<img src="~/images/LazyPeopleOnABeach.jpg" />

<h3>Now, just sit back, relax and wait for our agent bid for your dream vacation!</h3>
<h3>To log into your newly created home page, <a asp-controller="TravlerLoginPortal" asp-action="Login" style="color: red">CLICK HERE!</a></h3>

